<ion-content>
    <div class="login-clean" style="background-color: #fcc5c2;">
        <form method="post" style="height: 511px;margin-top: 0;">
            <h2 class="sr-only">Cadastro</h2>
            <div class="illustration">
                <h1 style="color: #fcc5c2;font-family: 'Bubbler One', sans-serif;margin-bottom: 0px;">
                    <strong>Cadastro</strong></h1>
                <div style="margin-top:30%;">
                    <div class="form-group"><input class="border rounded form-control" type="text" name="nome"
                            placeholder="Nome"></div>
                    <div class="form-group"><input class="border rounded form-control" type="text" name="CPF"
                            placeholder="CPF"></div>
                    <div class="form-group"><input class="border rounded form-control" type="date" name="data"
                            placeholder="Data de Nascimento"></div>
                    <button class="btn" name="continuar"><img src="assets/img/icones/continuar.png" width="40%" height="40%"></button>

                </div>
              </div>
        </form>
    </div>
</ion-content>
