
<ion-content>
  <div class="login-clean" style="background-color: #fcc5c2;">
    <form method="post" style="height: 600px;margin-top: 0;">
        <h2 class="sr-only">Foto</h2>
        <div class="illustration">
            <h1 style="color: #fcc5c2;font-family: 'Bubbler One', sans-serif;margin-bottom: 0px;">
                <strong>Hora da foto!</strong></h1>
        </div>
        <div class="texto" style="text-align: center; border: 3px solid #fcc5c2; border-radius: 10%;">
            <p style="padding: 5px;">Por favor, tire uma foto
                sua identidade em mãos e
                com o rosto a mostra (Não se
                preocupe, sua foto está
                segura com a gente)
            </p>
        </div>
        <div style="margin-top:10%;"><img src="assets/img/cad_foto.png" style="width: 243px;height: 146px;"></div>
        <div style="margin-top:15%;"><button (click)="foto()"  class="btn" name="continuar"><img src="assets/img/icones/cad_foto.png" width="40%" height="40%"></button></div>
    </form>
</div>
</ion-content>
